name: Tests and formatting
on:
  push:
    branches: [ master ]
    tags: [ "*" ]
  pull_request:

jobs:
  markdown-link-check:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@master
    - name: Check links
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-verbose-mode: 'yes'
        file-path: './README.md'

  formatting:
    runs-on: ubuntu-22.04
    name: Check formatting
    steps:
    - uses: actions/checkout@v3.1.0
    - name: Install nix
      uses: cachix/install-nix-action@v18
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - run: nix flake check

  testing:
    runs-on: ubuntu-22.04
    name: Run test suites
    steps:
    - uses: actions/checkout@v3.1.0
    - name: Install nix
      uses: cachix/install-nix-action@v18
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - name: Test backends
      run: nix develop .#lightweight --command cabal test all

  documentation:
    runs-on: ubuntu-22.04
    name: Check for missing documentation
    steps:
    - uses: actions/checkout@v3.1.0
    - name: Install nix
      uses: cachix/install-nix-action@v18
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - name: Run haddock
      run: nix develop .#lightweight --command sh '-c' '! cabal haddock all | grep Missing'
